.dropdown-wrapper {
  width: 100%;
  display: flex; 
  justify-content: center; 

}

.dropdown-section {
  display: flex;
  left: 0;
  flex-direction: column;
}

.react-select-section {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
  /* width: 400px; */
  /* margin: 0 452px; */
  border-radius: 5px;
}

.dropdown-container h1{
  margin-bottom: 20px;
}

