.dropdown-wrapper {
  width: 100%;
  display: flex; 
  justify-content: center; 
  margin-top: 40px;

}

.dropdown-section {
  border-radius: 0.3rem;
  border: 2px solid #fff;
  padding: 40px;
  display: flex;
  left: 0;
  flex-direction: column;
  font-size: 25px;
}

.react-select-section {
  background-color: rgb(235, 234, 234);
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 18px;
}

.dropdown-container h1{
  margin-bottom: 20px;
}

